body {
    margin: 0;
    background: #f9fbfd;
    color: #1f2937;
}

.header {
    display: flex;
    justify-content: space-between;
    padding: 20px 40px;
    background: white;
    width: 100%;
    position: fixed;
    left: 0;
    z-index: 1000;
}

    .header a {
        margin-left: 20px;
        color: #00008A;
        font-weight: 500;
        text-decoration: none;
    }

    .header h2 {
        color: #1e88e5;
        font-weight: bold;
        font-size: 20px;
    }

.hero {
    display: flex;
    padding: 60px 40px;
    background: linear-gradient(90deg, #1e88e5, #42a5f5);
    color: white;
    padding-top: 100px;
}

    .hero img {
        width: 40%;
        border-radius: 16px;
    }

.hero-text {
    max-width: 50%;
}

.section {
    padding: 60px 40px;
    text-align: center;
}

    .section.light {
        background: #f1f5f9;
    }

    .section h2 {
        color: #4169E1;
    }

    .section p {
        color: #4169E1;
        font-weight: 500;
    }

.grid {
    display: grid;
    grid-template-columns: repeat(auto-fit, minmax(220px, 1fr));
    gap: 20px;
    margin-top: 30px;
}

.card {
    background: white;
    padding: 20px 30px;
    border-radius: 14px;
    box-shadow: 0 4px 12px rgba(0,0,0,0.05);
    background-color: #e3f2fd;
}

    .card svg {
        display: block;
        width: 56px;
        height: 56px;
        stroke: #1e88e5;
        margin: 0 auto 12px auto;
    }

    .card h4 {
        margin-top: 10px;
        color: #00008A;
        font-size: 18px;
    }

.list {
    list-style: none;
    padding: 0;
}

    .list li {
        margin: 10px 0;
    }

.steps {
    display: flex;
    justify-content: center;
    flex-wrap: wrap;
}

.step {
    margin: 15px;
    background: white;
    padding: 20px;
    border-radius: 12px;
    width: 180px;
}

    .step span {
        display: block;
        font-size: 22px;
        font-weight: bold;
        color: #1e88e5;
    }

.btn-primary {
    background: #ff7a18;
    border: none;
    padding: 12px 20px;
    color: white;
    border-radius: 8px;
    margin: 10px;
}

.btn-secondary {
    background: white;
    color: #1e88e5;
    border: none;
    padding: 12px 20px;
    border-radius: 8px;
}

.cta {
    background: #1e88e5;
    color: white;
    text-align: center;
    padding: 40px;
}

.whychooseus-section {
    display: flex;
    justify-content: space-between;
    margin: auto 200px;
}

.why-left-section {
    display: flex;
    gap: 10px;
    align-items: center;
    color: #00008A;
}

    .why svg {
        stroke: #1E90FF;
    }

.why-right-section img {
    height: 175px;
    width: 350px;
}

